/* ContactForm.module.css */

.contact-form-container {
  margin-top: 5rem;
  margin-bottom: 10rem;
  display: flex !important;
  flex-direction: column !important;
  gap: 3rem;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .contact-form-container {
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 5rem;
    padding: 0 5rem;
  }
}

.left-section {
  flex: 1 !important;
  max-width: 40% !important;
}

@media (min-width: 768px) {
  .left-section {
    max-width: 40% !important;
  }
}

.right-section {
  flex: 1 !important;
  max-width: 100% !important;
}

.chip {
  width: fit-content !important;
  margin-bottom: 20px;
  border: 1px solid #D3D3D3 !important;
  padding: 13px 10px !important;
  border-radius: 50px !important;
  font-family: "Manrope" !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #222222 !important;
}

.custom-icon {
  font-size: 20px !important;
  color: black !important;
}

.title-section {
  display: flex !important;
  align-items: baseline !important;
  flex-wrap: wrap !important;
  margin-bottom: 16px !important;
}

.title-bold {
  font-weight: 600 !important;
  font-family: "Manrope" !important;
  font-size: 39px !important;
  color: black !important;
}

.title-gray {
  color: gray !important;
  font-weight: 600 !important;
  font-family: "Manrope" !important;
  font-size: 39px !important;
}

.contact-info {
  display: flex !important;
  gap: 16px !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  margin-top: 16px !important;
}

.contact-info .input-field {
  width: auto !important;
  max-width: 250px !important;
}

.contact-info .phone-field {
  width: auto !important; 
  max-width: 125px !important;
  margin-top: 15px;
}

.contact-info .email-field {
  width: 500px !important;
  margin-top: 15px;
}


.input-field {
  max-width: 300px !important;
}

.input-field input {
  font-size: 13px !important; 
  font-family: "Manrope" !important;
  font-weight: 500 !important;
  color: #424242 !important;
}


.message-field {
  max-width: 700px !important;
}

.input-label {
  margin-bottom: 4px !important;
  font-family: "Manrope" !important;
  font-weight: 600 !important;
  color: black !important;
  display: block !important;
}

.message-section {
  grid-column: span 2 !important;
}

.submit-button {
  background-color: black !important;
  color: white !important;
  text-transform: none !important;
  padding: 8px 18px !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  margin-top: 16px !important;
}

.submit-button:hover {
  background-color: #333 !important;
}

/* OVERRIDES FOR MUI GLOBAL CLASSES */
:global(.MuiOutlinedInput-root) fieldset {
  border-color: #BDBDBD !important;
}
:global(.MuiOutlinedInput-root:hover) fieldset {
  border-color: black !important;
}
:global(.MuiOutlinedInput-root.Mui-focused) fieldset {
  border-color: black !important;
}