.sectionContainer {
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    padding-left: 160px;
    padding-right: 160px;
    width: 100%;
    max-width: 1920px;
    padding-bottom: 2rem;
    position: relative;
    
}

.button {
    border-radius: 50px !important;
    margin-bottom: 32px !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
    text-transform: none !important;
    border-color: #D0D5DD !important;
    background-color: white !important;
    color: #344054 !important;
    font-weight: 600 !important;
    font-family: "Manrope" !important;
    font-size: 15px !important;
    align-self: flex-start !important;
}

.textContainer {
    position: relative;
    
}

.heading {
    font-weight: 500 !important;
    font-family: "Manrope" !important;
    font-size: 80px !important;
    max-width: 19200px !important;
    width: 100% !important;
    color: #474747 !important;
    text-overflow: ellipsis !important;
}

.heading:last-of-type {
    margin-bottom: 18px !important;
}

.image {
    padding: auto;
    border-radius: 20px;
}