.sectionContainer {
    background-color: white;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 10%;
    gap: 2rem;
    flex-wrap: wrap;
}

.textArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    border-radius: 50px !important;
    margin-bottom: 1.5rem !important;
    padding: 0.6rem 1.2rem !important;
    text-transform: none !important;
    border-color: #D0D5DD !important;
    background-color: white !important;
    color: #344054 !important;
    font-weight: 600 !important;
    font-family: "Manrope", sans-serif !important;
    font-size: 15px !important;
}

.heading {
    font-weight: 500 !important;
    font-family: "Manrope", sans-serif !important;
    font-size: 3.5vw !important;
    color: #474747 !important;
    text-align: left;
    margin-bottom: 0.5rem;
    max-width: 100%;
}

.image {
    flex: 1;
    max-width: 100%;
    border-radius: 20px;
    height: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 2rem;
        text-align: center;
    }

    .textArea {
        align-items: center;
    }

    .heading {
        font-size: 6vw !important;
        text-align: center;
    }

    .button {
        align-self: center;
    }

    .image {
        width: 100%;
    }
}
