.container {
  font-family: "Manrope";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 4rem;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
}

.containerRow {
  flex-direction: row;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.image {
  width: 600px;
  height: 700px;
  border-radius: 20px;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 24px;
  right: 24px;
  padding: 1rem;
  width: 70%;
  max-width: 300px;
  display: none;
  background-color: white;
  border-radius: 10px;
  text-align: left;
}

.overlayShow {
  display: block;
}

.textContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.chip {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
}

.title {
  font-weight: 600;
  color: black;
  font-size: 2rem;
}

.description {
  color: #444;
  line-height: 1.6;
}

.listItem {
  font-size: 1.125rem;
  color: #555;
  font-weight: 500;
  margin-bottom: 1rem;
}

.listItemStrong {
  font-weight: 600;
}

@media (min-width: 768px) {
  .container {
    text-align: left;
  }

  .containerRow {
    flex-direction: row;
  }

  .overlay {
    display: block;
  }

  .textContent {
    padding-left: 0;
    padding-right: 0;
  }
}
