.container {
  font-family: "Manrope" !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 3rem !important;
  gap: 4rem !important;
  min-height: 100vh !important;
  overflow: hidden !important;
  box-sizing: border-box !important;
  text-align: center !important;
}

.containerRow {
  flex-direction: row !important;
}

.imageContainer {
  flex: 1 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.imageWrapper {
  position: relative !important;
  width: 100% !important;
  max-width: 600px !important;
}

.image {
  width: 600px !important;
  height: 700px !important;
  border-radius: 20px !important;
  object-fit: cover !important;
  display: block !important;
  
}

.overlay {
  position: absolute !important;
  bottom: 24px !important;
  right: 24px !important;
  padding: 1rem !important;
  width: 70% !important;
  max-width: 300px !important;
  display: none !important;
  background-color: white !important;
  border-radius: 10px !important;
  text-align: left !important;
}

.overlayShow {
  display: block !important;
}

.textContent {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  gap: 2rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.chip {
  font-family: "Manrope" !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  padding: 0.5rem 0 !important;
}

.title {
  font-weight: 600 !important;
  color: black !important;
  font-size: 2rem !important;
}

.description {
  color: #444 !important;
  line-height: 1.6 !important;
}

.listItem {
  font-size: 1.125rem !important;
  color: #555 !important;
  font-weight: 500 !important;
  margin-bottom: 1rem !important;
}

.listItemStrong {
  font-weight: 600 !important;
}

@media (min-width: 768px) {
  .container {
    text-align: left !important;
  }

  .containerRow {
    flex-direction: row !important;
  }

  .overlay {
    display: block !important;
  }

  .textContent {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
