/* ExpertTeamSection.module.css */

.container {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
  background-color: #ffffff !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important; /* vertically center */
  justify-content: center !important; 

}
.buttonContainer {
  margin-bottom: 1rem;
}

.button {
  border-radius: 5px;
  text-transform: none;
  font-weight: 500;
  font-family: "Manrope";
  border-color: #ddd !important;
  color: #333 !important;
}

.buttonHover:hover {
  border-color: #aaa;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleContainer {
  flex: 1;
}

.title {
  font-weight: 700;
  font-family: "Manrope";
  color: #000;
  font-size: 2rem;
  line-height: 1.3;
}

.subtitle {
  font-size: 2.8rem;
}

.textContainer {
  flex: 1.5;
}

.text {
  font-family: "Manrope";
  color: #888;
  font-size: 1.2rem !important;
  line-height: 1.8;
  max-width: 600px;
}