.container {
  padding-top: 10rem !important;
  padding-bottom: 3rem !important;
  background-color: #ffffff !important;
  width: 100% !important;
  display: flex !important;
}

#dark .container {
  background-color: black;
}

.buttonContainer {
  align-items: flex-start !important;
  margin-bottom: 1rem;
}

.button {
  border-radius: 50px !important;
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: "Manrope" !important;
  border-color: #ddd !important;
  color: #222222 !important;
}

.buttonHover:hover {
  border-color: #aaa;
}

.title {
  font-weight: 600 !important;
  font-family: "Manrope" !important;
  color: #000;
  font-size: 45px !important;
  line-height: 1.3;
  width: 100%;
  max-width: 400px;
}


.text {
  font-family: "Manrope" !important;
  font-weight: 400 !important;
  color: #888;
  font-size: 20px !important;
  line-height: 1.5;
  width: 100%;
  max-width: 520px;
}
