body>div {
  margin: 0;
  padding: 0;
}
.pageContainer {
  position: relative;
  width: 100% !important; 
  font-family: "Manrope" !important;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.darkBackground {
  background-color: #111;
  color: white;
}

.faqContainer {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.faqHeader {
  text-align: center;
  margin-bottom: 24px;
}

.faqItem {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid;
}

.faqItemDark {
  border-color: #444;
}

.faqItemDark:hover {
  background-color: #222;
}

.questionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleArrow {
  transition: transform 0.3s ease;
  font-size: 1.2rem;
}

.answerText {
  padding: 10px 5px 0;
  font-size: 0.95rem;
}
