/* Areas.module.css */
.container {
    min-height: 100vh;
    background-color: #222222;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    padding: 2rem 4rem 2rem 3rem;
    position: relative;
  }
  
  .mentalIssuesButton {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  
  .mentalIssuesBtn {
    border-color: #FCFCFC !important;
    color: #fff !important;
    border-radius: 16px !important;
    text-transform: none !important;
    font-weight: 400;
    font-size: 13px !important;
    font-family: 'Manrope', sans-serif;
  }
  
  .mentalIssuesBtn:hover {
    border-color: #777 !important;
  }
  
  .title {
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    font-size: 46px;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .personalIssuesButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 8rem;
    margin-bottom: 3rem;
    position: absolute;
    top: 32%;
    right: 13%;
  }
  
  .personalIssuesBtn {
    font-family: 'Manrope', sans-serif;
    font-weight: 530;
    font-size: 12px;
    background-color: #A1A09B;
    border-radius: 6px;
    text-transform: none;
    color: #000;
  }
  
  .personalIssuesBtn:hover {
    background-color: #777;
  }
  
  .listSection {
    max-width: 700px;
    padding-left: 3rem;
    position: absolute;
    top: 28%;
    left: 15%;
  }
  
  .listItem {
    padding-top: 3rem;
    width: 100%;
  }
  
  .listItemTitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FCFCFC;
  }
  
  .listItemSeparator {
    border-bottom: 2px solid #555;
    width: 90%;
    margin-top: 2rem;
    margin-left: -10px;
  }
  
  .depressionTitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 550;
    font-size: 28px;
    position: absolute;
    top: 70%;
    left: 59%;
    bottom: 5%;
    color: #FCFCFC;
    transform: translateX(-50%);
  }
  