.card {
    max-width: 397.33px;
    border-radius: 20px !important;
    border: 1px solid rgb(211, 211, 211) !important;
    box-shadow: none !important;
    padding: 0 !important;
  }
  
  .cardTitle {
    font-family: 'Manrope' !important;
    font-weight: 600 !important;
    margin-top: 8px !important;
  }
  
  .cardDescription {
    font-family: 'Manrope' !important;
    color: var(--mui-palette-text-secondary) !important;
    font-size: 16px !important;
    margin-top: 16px !important;
  }
  
  .cardContent {
    height: 168px !important;
  }
  