.container {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.heading {
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.button {
  border-color: #ffffff !important;
  color: #ffffff !important;
  background-color: transparent !important;
  font-weight: bold !important;
  text-transform: none !important;
  margin-bottom: 1rem;
}

.image {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.sectionTitle {
  font-weight: 600;
  color: #ffffff;
}

.paragraph {
  color: #cccccc;
}

.avatar {
  background-color: gray !important;
  margin-bottom: 1rem;
}

.avatarWithMargin {
  background-color: gray !important;
  margin-right: 0.5rem;
}
