.container {
  background-color: #121212 !important;
  color: #fff !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  min-height: 60vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex-direction: column !important;
  gap: 2rem !important;
  margin-bottom: 6rem !important;
  font-family: "Manrope" !important;
}

@media (min-width: 768px) {
  .container {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
    flex-direction: row !important;
  }
}

.titleBox {
  flex: 1 !important;
  text-align: left !important;
}

.outlinedButton {
  border-color: #555 !important;
  color: #fff !important;
  text-transform: none !important;
  border-radius: 30px !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.gridBox {
  flex: 1.5 !important;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 1rem !important;
}

.card {
  width: calc(50% - 16px) !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
  text-align: left !important;
}

.iconContainer {
  background-color: #1e1e1e !important;
  padding: 0.5rem !important;
  border-radius: 8px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 56px !important;
  width: 56px !important;
}
